@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2111 0.0050 285.9661);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2111 0.0050 285.9661);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2111 0.0050 285.9661);
  --primary: oklch(0.6758 0.1453 238.4620);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9686 0.0035 247.8590);
  --secondary-foreground: oklch(0.2111 0.0050 285.9661);
  --muted: oklch(0.9686 0.0035 247.8590);
  --muted-foreground: oklch(0.5403 0.0360 256.8111);
  --accent: oklch(0.9210 0.0088 247.9219);
  --accent-foreground: oklch(0.2111 0.0050 285.9661);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9197 0.0092 255.0067);
  --input: oklch(0.9197 0.0092 255.0067);
  --ring: oklch(0.6758 0.1453 238.4620);
  --chart-1: oklch(0.6758 0.1453 238.4620);
  --chart-2: oklch(0.4279 0.1042 154.0950);
  --chart-3: oklch(0.6972 0.1606 57.5708);
  --chart-4: oklch(0.5133 0.2634 297.8691);
  --chart-5: oklch(0.8942 0.1911 109.7125);
  --sidebar: oklch(0.9842 0.0007 286.3881);
  --sidebar-foreground: oklch(0.2111 0.0050 285.9661);
  --sidebar-primary: oklch(0.6758 0.1453 238.4620);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9210 0.0088 247.9219);
  --sidebar-accent-foreground: oklch(0.2111 0.0050 285.9661);
  --sidebar-border: oklch(0.9197 0.0092 255.0067);
  --sidebar-ring: oklch(0.6758 0.1453 238.4620);
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(240 5% 4%);
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(240 5% 4% / 0.05);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(240 5% 4% / 0.05);
  --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(240 5% 4% / 0.10), 0rem 1px 2px -1px hsl(240 5% 4% / 0.10);
  --shadow: 0rem 0.25rem 0.5rem 0rem hsl(240 5% 4% / 0.10), 0rem 1px 2px -1px hsl(240 5% 4% / 0.10);
  --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(240 5% 4% / 0.10), 0rem 2px 4px -1px hsl(240 5% 4% / 0.10);
  --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(240 5% 4% / 0.10), 0rem 4px 6px -1px hsl(240 5% 4% / 0.10);
  --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(240 5% 4% / 0.10), 0rem 8px 10px -1px hsl(240 5% 4% / 0.10);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(240 5% 4% / 0.25);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1405 0.0044 285.8238);
  --foreground: oklch(0.9838 0.0035 247.8583);
  --card: oklch(0.1405 0.0044 285.8238);
  --card-foreground: oklch(0.9838 0.0035 247.8583);
  --popover: oklch(0.1405 0.0044 285.8238);
  --popover-foreground: oklch(0.9838 0.0035 247.8583);
  --primary: oklch(0.6758 0.1453 238.4620);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2323 0.0058 285.9375);
  --secondary-foreground: oklch(0.9838 0.0035 247.8583);
  --muted: oklch(0.2323 0.0058 285.9375);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.3130 0.0090 285.8670);
  --accent-foreground: oklch(0.9838 0.0035 247.8583);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.2323 0.0058 285.9375);
  --input: oklch(0.2323 0.0058 285.9375);
  --ring: oklch(0.6758 0.1453 238.4620);
  --chart-1: oklch(0.6758 0.1453 238.4620);
  --chart-2: oklch(0.5663 0.1416 153.3877);
  --chart-3: oklch(0.6972 0.1606 57.5708);
  --chart-4: oklch(0.5133 0.2634 297.8691);
  --chart-5: oklch(0.8942 0.1911 109.7125);
  --sidebar: oklch(0.1405 0.0044 285.8238);
  --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-primary: oklch(0.6758 0.1453 238.4620);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3130 0.0090 285.8670);
  --sidebar-accent-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-border: oklch(0.2323 0.0058 285.9375);
  --sidebar-ring: oklch(0.6758 0.1453 238.4620);
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: -0.25rem;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(240 5% 4%);
  --shadow-2xs: 0rem 0.25rem 0.75rem -0.25rem hsl(240 5% 4% / 0.25);
  --shadow-xs: 0rem 0.25rem 0.75rem -0.25rem hsl(240 5% 4% / 0.25);
  --shadow-sm: 0rem 0.25rem 0.75rem -0.25rem hsl(240 5% 4% / 0.50), 0rem 1px 2px -1.25px hsl(240 5% 4% / 0.50);
  --shadow: 0rem 0.25rem 0.75rem -0.25rem hsl(240 5% 4% / 0.50), 0rem 1px 2px -1.25px hsl(240 5% 4% / 0.50);
  --shadow-md: 0rem 0.25rem 0.75rem -0.25rem hsl(240 5% 4% / 0.50), 0rem 2px 4px -1.25px hsl(240 5% 4% / 0.50);
  --shadow-lg: 0rem 0.25rem 0.75rem -0.25rem hsl(240 5% 4% / 0.50), 0rem 4px 6px -1.25px hsl(240 5% 4% / 0.50);
  --shadow-xl: 0rem 0.25rem 0.75rem -0.25rem hsl(240 5% 4% / 0.50), 0rem 8px 10px -1.25px hsl(240 5% 4% / 0.50);
  --shadow-2xl: 0rem 0.25rem 0.75rem -0.25rem hsl(240 5% 4% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

body {
  letter-spacing: var(--tracking-normal);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
